.about {
    margin: 50px auto;
}

.about h2{
     margin-bottom: 20px
}

.about .content .header .img {
    background: grey;
    border-radius: 10px;
    height: 150px
}

.about .content .header .img img {
    width:100%;
    height: 100%;
    border-radius: 10px;
}

.about .content a {
    background-color: #fff;
    color: blue;
    border-radius: 30px;
    border: 1px solid blue
}