section {
    margin: 50px auto;
}

section hr {
    margin-top: 50px
}

section h2 {
    margin-bottom: 20px
}

section .cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .cards .card {
    margin: 0 10px;
    height: 200px;
    width: 250px;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    border: none
}

section .cards .card .head {
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    background: #0b0b0b;
    z-index: 1;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: drop-shadow(2px 4px 6px black);
    transition: all .2s linear
}

section .cards .card:hover .head {
    filter: none
}

section .cards .card .head img{
    border-radius: 10px;
    width:100%;
    height: 100%;
}

section .cards .card .body {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    border-radius: 10px;
    background: linear-gradient(-360deg, black 50%, rgba(0,0,0,.1));
    width: 100%;
    padding: 10px;
    color: #fff;
    transition: all .2s linear
}

section .cards .card:hover .body {
    bottom: -20px
}

section .cards .card .body p,
section .cards .card .body .rates {
    margin: 0 auto
}

section .cards .card .body .rates {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold
}

section .cards .more {
    border: 1px solid #333;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    background: #0b0b0b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .cards .more h6 {
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    section .cards .card .body {
        font-size: 12px;
    }
    section .cards .card .body ul li svg{
        font-size: 14px;
    }
    section .cards .more h6 {
        font-size: 13px;
    }
}
