.search-bar {
    margin: 50px auto;
}

.search-bar .content input {
    border-radius: 30px;
    border: 1px solid #00f;
    margin: 0 auto;
    border-radius: 15px ;
}

.search-bar .content input:focus {
    border-radius: 15px 15px 0 0 ;
}

.search-bar .content .result-of-search {
    border-radius: 0 0 15px 15px;
    border: 1px solid #eee;
    padding: 10px;
    max-height: 300px;
    overflow-x: auto;
    box-shadow: 2px 2px 4px rgba(0,0,0,.3);
    text-align: start;
}